@charset "utf-8";

body {
    background-color: #e9d9c0;
}

header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 4.4% 0 4.4%;
    z-index: 99999;
}
.header__nav ul {
    display: flex;
    gap: 48px;
}
h1 {
    width: 434px;
}
.header__nav a {
    color: #fff;
    font-family: "Alatsi", sans-serif;
}

main {
    text-align: center;
}
.concept {
    margin-top: 132px;

}

section {
    margin-top: 144px;
}
.wrapper {
    max-width: 1000px;
    margin: 144px auto 0;
    padding: 0 10px;
}
.concept-subtitle {
    font-family: "Alatsi", sans-serif;
    font-size: 26px;
    letter-spacing: 0.05em;
    padding-bottom: 40px;  
}
.concept-title {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 64px;
    line-height: 1.5;
    padding-bottom: 16px;
}
.concept p {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 24px;
    line-height: 1.5;
}
.br-pc {
  display: none; /* スマホではPC用改行を消す */
}
.about {
    display: flex;
    justify-content: space-between;
}
.about-image {
    width: 44%;
    flex-shrink: 0;
}
.about-image img {
    width: 100%;
    display: block;
    border-radius: 0 0 64px 0 ;
}
.about-text {
    padding-left: 40px;
    text-align: left;
    align-items: start;
}
h2#about-us {
    color: #D20202;
    font-family: "Diplomata SC", serif;
    font-size: 40px;
    padding-bottom: 40px;
}
.about-inner {
    font-size: 32px;
    line-height: 1.5;
    padding-bottom: 16px;

}
.about p {
    font-size: 14px;
    line-height: 1.8;
}
h2 {
    color: #D20202;
    font-family: "Diplomata SC", serif;
    font-size: 40px;
    padding-bottom: 32px;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}
.menu li {
    width: 31%;    
}

.menu-image {
    position: relative;
}
.menu-image img {
    width: 100%;
    display: block;
    border-radius: 0 64px 0 0;
}
.menu-image h3 {
    position: absolute;
    left: 0;
    bottom: -16px;
    margin: 0;

    color: #D20202;
    font-family: "Diplomata SC", serif;
    font-size: 26px;
    line-height: 1;
}
.content-menu {
    padding-top: 20px;
    text-align: left;
}
.content-menu p {
    margin: 6px 0 0;
    font-size: 14px;
    line-height: 1.8;
}

/*.image-container {
    display: flex;
    width: 100%;
    overflow: hidden;
}
.image-container picture {
    width: 20%;
    flex: 0 0 20%;

}*/
.clickable-img {
    cursor: zoom-in;
}

.img-modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 9999;
    cursor: zoom-out;
    align-items: center;
    justify-content: center;
}

.img-modal.open {
    display: flex;
}

.modal-photo {
    max-width: 90%;
    max-height: 90vh;
    object-fit: contain;
}


.image-container picture img {
    width: 100%;
    height: auto;
    display: block;
}

.inner {
    display: flex;
    align-items: center;
    height: 156px;
    background-color: #fff;
    border: 1px solid #4f260b;
}
.item {
    display: flex;
    gap: 40px;
    margin-bottom: 16px;
}
.item:last-child {
    margin-bottom: 0;
}
.item p {
    margin: 0;
}
.event-list {
    margin: 0 auto;
    font-size: 20px;
}
.date {
    font-weight: 500;
}

iframe {
    width: 100%;
    height: 353px;
    filter: grayscale(100%) invert(92%) contrast(83%);
}
footer {
    background-color: #fff;
}
.footer {
    display: flex;
    /* justify-content: center; */
    padding-top: 80px;
    margin: 0 auto;
}
.footer-image {
    width: 380px;
}
.footer-image img {
    width: 100%;
}
.footer-text {
    padding-left: 39px;
}
.footer-list {
    font-size: 16px;
    line-height: 1.5;
}
.item {
    display: flex;
}
.item-list {
    width: 64px;
    margin: 0;
    text-align: left;
}
.item-text {
    margin: 0;
    text-align: left;
}
.copy {
    text-align: left;
    margin: 0 auto;
    padding-bottom: 60px;
}
.toTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 140px;
}


.slick-dots li button:before {
    font-size: 10px;
}

/* PCの時のnavを消す　　*/
.hamburger,
.header__nav-sp {
    display: none;
}
@media screen and (max-width: 1100px) {
    .header__nav {
        display: none;
    }
    .hamburger {
        display: block;
        width: 54px;
        height: 54px;
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
        z-index: 99999;
    }
    .hamburger span {
        position: absolute;
        display: block;
        width: 40px;
        height: 2px;
        background-color: #fff;
        top: 27px;
        left: 7px;
        transition: 0.3s;
    }
    .hamburger::before {
        content: "";
        position: absolute;
        display: block;
        width: 40px;
        height: 2px;
        background-color: #fff;
        top: 13px;
        left: 7px;
        transition: 0.3s;
    }
    .hamburger::after {
        content: "";
        position: absolute;
        display: block;
        width: 40px;
        height: 2px;
        background-color: #fff;
        bottom: 12px;
        left: 7px;
        transition: 0.3s;
    }
    .header__nav-sp {
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: #0b0b0bde;
        top: 0;
        left: 0;
    }

    .header__nav-sp ul {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 48px;
        }

    .header__nav-sp a {
        color: #fff;
        font-family: "Alatsi", sans-serif;
        font-size: 36px;
    }

    .open span {
        background-color: transparent;
    }
    .open::before {
        transform: rotate(45deg);
        top: 25px;
    }
    .open::after {
        transform: rotate(-45deg);
        bottom: 25px;
    }

    .concept-title {
        font-weight: 500;
        font-size: 31px;
        padding-bottom: 24px;
        
    }
    .about-inner {
        font-size: 24px;
    }
}

@media screen and (max-width: 768px) {
    h1 {
    width: 244px;
    }
    h2 {
        font-size: 2em;
    }
    .main-visual img {
        margin-bottom: 46px;
    }

    .wrapper {
        flex-direction: column;
        margin: 80px 20px;
        padding: 0;
    }
    .concept p {
        font-size: 16px;
        line-height: 2.0;
    } 
    .br-pc {
    display: inline; /* PCではPC用改行を表示する */
    }
    .about-image {
        width: 100%;
    }
    .about-image img {
        border-radius: 0;
    }
    h2#about-us {
        font-size: 2em;
    }
    #about-us {
        padding: 40px 0;
    }
    .about-text {
        padding-left: 0;
        text-align: center;
    }
    .about-inner {
        text-align: left;
    }
    .about p {
        line-height: 2.0;
        text-align: left;
    }

    .menu ul {
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }
    .menu li {
        width: 100%;
    } 
    section {
        margin-top: 80px;
    }
    /*
    .image-container {
        overflow-x: auto;
    }
    .image-container picture {
        flex: 0 0 390px
    }
    .image-container picture img {
        width: 100%;
    }
        */
    .inner {
        height: auto;
        padding: 32px 0;
    }
    .event-list {
        margin: 0 20px;
        font-size: 16px;
        min-width: 0;
    }
    .event li.item {
        flex-direction: column;
        text-align: left;
        gap: 6px;
        margin-bottom: 32px;
    }
    p.title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .footer-image {
        width: 326px;
    }
    footer .footer-text {
        padding: 39px 0 0 0;
    }
    .footer li.item {
        margin-bottom: 24px;
        flex-direction: column;
        gap: 8px;
    }
    .footer.wrapper {
        margin: 0;
        padding: 80px 20px;
    }
    .footer .item-text {
        line-height: 1.5;
    } 
    p.copy.wrapper {
        margin: 0;
        padding: 0 20px 80px 20px;
    }
}